# Laravel
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# OS
.DS_Store
Thumbs.db

# Logs
storage/logs/
storage/framework/views/

# Logs
*.log

# Path encoding errors (não adicionar)
public/C*
C*

# Commands (não adicionar ao git)
sudo
tail

# Cache
storage/framework/cache/

# Info files
public/info.php

# Arquivos temporários
$*
*~
!*~
Fatal*
Warning*
decimal*
default*
string*
nullable*
timestamps*
isset*
cd
copy
dir
ls
php
{docker/nginx/certs/
/etc/letsencrypt/
docker/nginx/certs/ /etc/letsencrypt/

*.sql
*.tar.gz
